<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	</head>
	
    <body>
		<!-- 3rd party library -->
		<script type="joo/comp" bundle-id="com.terra.code.joo"></script>
		<script type="joo/comp" bundle-id="com.terra.code.joogame"></script>
		<script type="joo/comp" bundle-id="com.terra.code.tapevent"></script>
		<script type="joo/comp" bundle-id="com.terra.code.trigger"></script>
		<script type="joo/comp" bundle-id="com.terra.code.delayload"></script>
		<script type="joo/comp" bundle-id="com.terra.code.fitscreen"></script>
		<script type="joo/comp" bundle-id="com.terra.code.nativesound"></script>
		<script type="joo/comp" bundle-id="com.terra.joo.plugin.terrastore.backtostore"></script>
		<script type="joo/comp" bundle-id="com.terra.code.player.animation"></script>
		<script type="joo/comp" bundle-id="com.terra.code.bgaudio"></script>
		<script type="joo/comp" bundle-id="com.terra.code.stareffect"></script>
		<script type="joo/comp" bundle-id="com.terra.code.gamepreload"></script>
		
		<!-- application src -->
		<script type="joo/comp" target="src/views/state/play"></script>
		
		<script type="joo/comp" target="src/main"></script>
		
		<script type="text/javascript">
			main('/dist/all.txt');
		</script>
	</body>
</html>