<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="static/framework/css/ui.css" rel="stylesheet" type="text/css" />
		<link href="static/framework/css/portlet.css" rel="stylesheet" type="text/css" />
		<link href="static/framework/css/tooltips.css" rel="stylesheet" type="text/css" />
		<link href="static/app/css/sample.css" rel="stylesheet" type="text/css" />
		<title>Default JOO Application</title>
	</head>
	
    <body>
		<div id="Application-Main"></div>
    	
		<!-- framework -->
		<script type="text/javascript" src="static/framework/js/joo-2.0.2.js"></script>
        
		<!-- 3rd party library -->
		
		<!-- application bootstrap -->
		
		<!-- application ui -->

		<!-- application plugins -->
		
		<!-- application portlets -->
		<script type="text/javascript" src="static/app/js/portlets/samples/SamplePortlet.js"></script>
		
		<!-- important! hook class name -->
		<script type="text/javascript" src="static/framework/js/class-name-injection.js"></script>
		
		<!-- entry-point -->
		<script type="text/javascript" src="static/app/js/main.js"></script>
		
		<script type="text/javascript">
			main('/static/microtemplating/all.default.txt');
		</script>
		
		<!-- addons -->
		
</body>
</html>
