<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link href="resource/css/default/portlet.css" rel="stylesheet" type="text/css" />
		<link href="resource/css/default/sample.css" rel="stylesheet" type="text/css" />
	</head>

    <body>
        <!-- required libraries -->
        <script type="text/javascript" src="resource/js/lib/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="resource/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="resource/js/lib/jquery.json-2.2.js"></script>
		<script type="text/javascript" src="resource/js/lib/jquery.cookie.js"></script>
		<script type="text/javascript" src="resource/js/lib/inherit.js"></script>
		<script type="text/javascript" src="resource/js/lib/micro-templating.js"></script>
		
		<!-- 3rd party library -->
		
        <!-- framework -->
        <script type="text/javascript" src="resource/js/framework/base.js"></script>
		<script type="text/javascript" src="resource/js/framework/ui.js"></script>
        <script type="text/javascript" src="resource/js/framework/tools.js"></script>
        <script type="text/javascript" src="resource/js/framework/event.js"></script>
        <script type="text/javascript" src="resource/js/framework/observer.js"></script>
        <script type="text/javascript" src="resource/js/framework/plugins.js"></script>
        <script type="text/javascript" src="resource/js/framework/page.js"></script>
        <script type="text/javascript" src="resource/js/framework/portlet.js"></script>
        <script type="text/javascript" src="resource/js/framework/request.js"></script>
        <script type="text/javascript" src="resource/js/framework/bootstrap.js"></script>
        <script type="text/javascript" src="resource/js/framework/utils.js"></script>
		<script type="text/javascript" src="resource/js/framework/memcached.js"></script>
		
		<!-- application bootstrap -->
		
		<!-- application plugins -->
		
		<!-- application portlets -->
		<script type="text/javascript" src="resource/js/app/portlets/samples/SamplePortlet.js"></script>

		<!-- addons -->

		<!-- entry-point -->
		<script type="text/javascript" src="resource/js/app/index.default.js"></script>

		<!-- indicate the application main area, as specified in index.default.js -->
        <div id="Application-Main"></div>
</body>
</html>