<div class="portlet-data">
	<script type="text/html" id="SamplePortletView">
		<div class="title">
			<img width="40px" height="30px" src="resource/images/logo.jpg" alt="logo" />
			Welcome to JooFramework!
		</div>
		<p>
			JOO is a javascript framework, by which programmer can make a website like a traditional application. JOO is a platform for rich client application.
		</p>
		<p>
			Please take a look at <a href="resource/js/app/portlets/samples/SamplePortlet.js">resource/js/app/portlets/SamplePortlet.js</a>
			and <a href="resource/microtemplating/default/samples/SamplePortlet.htm">resource/microtemplating/default/samples/SamplePortlet.htm</a>
			for getting yourself familiar with Joo Framework & its portlet architecture.
		</p>
		<p>
			If this is the your first time with Joo Framework,
			consider consulting the following resources:
			<ul>
				<li>
					<a href="http://jooframework.org/getting-started">Getting started</a>
				</li>
				<li>
					<a href="http://jooframework.org/developer-guide">Developer Guide</a>
				</li>
				<li>
					<a href="http://jooframework.org/forums">Forums</a>
				</li>
				<li>
					<a href="mailto:dungba@bkprofile.com">Email</a>
				</li>
			</ul>
		</p>  
	</script>
</div>